@model WebApplicationPLS.Models.Model.Blog

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Silme</h2>

<h3>Silmek istediğine emin misin?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Icerik)
        </dt>


        <dd>
            @Html.Raw(Model.Icerik)
        </dd>

        <dt>
            <img src="@Model.ResimURL" width="300" height="300" />
        </dt>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> 
            @Html.ActionLink("Listeye dön", "Index")
        </div>
    }
</div>
