@using WebApplicationPLS.Helper;
@model IEnumerable<WebApplicationPLS.Models.Model.Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@*<script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables/dataTables.bootstrap4.js"></script>
    <link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />


    <script>
        $(document).ready(function () {
            $('#myTable').DataTable(
                {
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/2.1.8/i18n/tr.json"
                    }
                });
        });
    </script>*@
<script src="/Content/AdminLayout/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/Content/AdminLayout/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/Content/AdminLayout/assets/vendor/chart.js/chart.umd.js"></script>
<script src="/Content/AdminLayout/assets/vendor/echarts/echarts.min.js"></script>
<script src="/Content/AdminLayout/assets/vendor/quill/quill.js"></script>
<script src="/Content/AdminLayout/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/Content/AdminLayout/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/Content/AdminLayout/assets/vendor/php-email-form/validate.js"></script>

<script src="/Content/AdminLayout/assets/js/main.js"></script>

<h2>Blog Kayıtları</h2>




<table class="table datatable">
    <thead>
        <tr class="table table-primary">
            <th>#</th>
            <th>Başlık</th>
            <th>Kategori</th>
            <th>ResimURL</th>
            <th>İşlemler</th>
            <th>Yüklenme Tarihi</th>
            <th>Tıklanma Sayısı</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BlogID</td>
                <td>@item.Baslik</td>
                <td>@item.Kategori.KategoriAd</td>
                <td><img src="@item.ResimURL" width="50" height="50" /></td>
                <td><a href="/yonetimpaneli/blog/duzenle/@item.BlogID" class="btn btn-primary">Güncelle</a>  <a href="/yonetimpaneli/blog/sil/@item.BlogID" class="btn btn-danger">Sil</a></td>
                <td>@item.YuklenmeTarihi</td>
                <td>@item.TiklanmaSayisi</td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" href="/Blog/Create/">Yeni Blog Ekle</a>