@using WebApplicationPLS.Helper;
@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    ViewBag.Title = "Anasayfa";
}

<!-- Hero Section -->
@{ Html.RenderAction("SliderPartial", "Home");}

<!-- Featured Services Section -->
<section id="featured-services" class="featured-services section">
    <div class="container">
        <div class="row gy-4 justify-content-center">

            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item item-cyan position-relative">
                    <div class="icon">
                        <i class="bi bi-fire"></i>
                    </div>
                    <a href="/Tarif/" class="stretched-link">
                        <h3>Top 100 Tarifler</h3>
                    </a>
                    <p>En çok tıklanan 100 tarife gözatın</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="service-item item-orange position-relative">
                    <div class="icon">
                        <i class="bi bi-list-ul"></i>
                    </div>
                    <a href="/Liste/" class="stretched-link">
                        <h3>Listeler</h3>
                    </a>
                    <p>Çeşitli listeler arasından tarifleri görüntüleyin</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="service-item item-teal position-relative">
                    <div class="icon">
                        <i class="bi bi-book"></i>
                    </div>
                    <a href="/Blog/" class="stretched-link">
                        <h3>Blog</h3>
                    </a>
                    <p>Bilgilendirici blog yazılarımızdan faydalanın</p>
                </div>
            </div><!-- End Service Item -->
        </div>

    </div>

</section><!-- /Featured Services Section -->
<!-- About Section -->
<!--<section id="about" class="about section light-background">

    <div class="container">

        <div class="row gy-4">
            <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
                <img src="/Content/SiteLayout/assets/img/about.jpg" class="img-fluid" alt="">
                <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
            </div>
            <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="200">
                <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
                <p class="fst-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                </p>
                <ul>
                    <li><i class="bi bi-check2-all"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></li>
                    <li><i class="bi bi-check2-all"></i> <span>Duis aute irure dolor in reprehenderit in voluptate velit.</span></li>
                    <li><i class="bi bi-check2-all"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</span></li>
                </ul>
                <p>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
                </p>
            </div>
        </div>

    </div>

</section>-->
<!-- /About Section -->
<!-- Features Section -->
<section id="features" class="features section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>En Yeni Tarifler</h2>
        <p>En son eklenen nefis tarifler</p>
    </div><!-- End Section Title -->

    <div class="container">
        @foreach (var tarif in ViewBag.EnYeniTarifler)
        {
            <div class="row gy-4 align-items-center features-item">
                <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
                    <a href="/Tarif/@SeoHelper.ToSeoUrl(tarif.Baslik).ToLower()-@tarif.TarifID"><img src="@tarif.ResimURL" class="img-fluid" alt="@tarif.Baslik"></a>
                </div>
                <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">
                    <h3>@tarif.Baslik</h3>
                    <h6><time datetime="@tarif.YuklenmeTarihi.ToString("yyyy-MM-dd")">@tarif.YuklenmeTarihi.ToString("dd MMM, yyyy")</time></h6>
                    <a href="/Tarif/@SeoHelper.ToSeoUrl(tarif.Baslik).ToLower()-@tarif.TarifID" class="btn-get-started">Detaylar</a>
                </div>
            </div><!-- Features Item -->
        }
    </div>



</section><!-- /Features Section -->

<section id="features" class="features section light-background">
    <div class="container section-title" data-aos="fade-up">
        <h2>En Yeni Bloglar</h2>
        <p>En son eklenen blog yazıları</p>
    </div><!-- End Section Title -->

    <div class="container">
        @foreach (var blog in ViewBag.EnYeniBloglar)
        {
            <div class="row gy-4 align-items-center features-item">
                <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
                    <a href="/Blog/@SeoHelper.ToSeoUrl(blog.Baslik).ToLower()-@blog.BlogID"><img src="@blog.ResimURL" class="img-fluid" alt="@blog.Baslik"></a>
                </div>
                <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">
                    <h3>@blog.Baslik</h3>
                    <h6><time datetime="@blog.YuklenmeTarihi.ToString("yyyy-MM-dd")">@blog.YuklenmeTarihi.ToString("dd MMM, yyyy")</time></h6>
                    <a href="/Blog/@SeoHelper.ToSeoUrl(blog.Baslik).ToLower()-@blog.BlogID" class="btn-get-started">Detaylar</a>
                </div>
            </div><!-- Features Item -->
        }
    </div>

</section>
