@using PagedList;
@using PagedList.Mvc;
@using WebApplicationPLS.Helper;
@model IPagedList<WebApplicationPLS.Models.Model.Liste>

@{
    ViewBag.Title = "Liste";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="page-title dark-background">
    <div class="container position-relative">
        <h1>Listeler</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a href="/Anasayfa/">Ana Sayfa</a></li>
                <li class="current">Listeler</li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->
<!-- Portfolio Section -->
<section id="portfolio" class="portfolio section">

    <div class="container">


        <div class="row">
            <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">
                @foreach (var item in Model)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <a href="/Tarif/@SeoHelper.ToSeoUrl(item.ListeAd).ToLower()/@item.ListeID"><img src="@item.ResimURL" class="card-img-top" alt="@item.ListeAd"></a>
                            <div class="card-body">
                                <a href="/Tarif/@SeoHelper.ToSeoUrl(item.ListeAd).ToLower()/@item.ListeID"><h5 class="card-title">@item.ListeAd</h5></a>
                                <p class="card-text">
                                    @Html.Raw(item.Aciklama.Length > 100
                                        ? item.Aciklama.Substring(0, 100) + "..."
                                        : item.Aciklama)
                                </p>
                            </div>
                        </div>
                    </div>
                }
                </div>
            </div>


        </div>

</section><!-- /Portfolio Section -->
<section id="list-pagination" class="list-pagination section">
    @Html.PagedListPager(Model, Sayfa => Url.Action("Liste", new { Sayfa }), PagedListRenderOptions.Classic)

</section><!-- /Blog Pagination Section -->
