@using PagedList;
@using PagedList.Mvc;
@using WebApplicationPLS.Helper;
@model IPagedList<WebApplicationPLS.Models.Model.Liste>

@{
    ViewBag.Title = "Liste";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div class="page-title dark-background">
    <div class="container position-relative">
        <h1>Listeler</h1>
        <p>Esse dolorum voluptatum ullam est sint nemo et est ipsa porro placeat quibusdam quia assumenda numquam molestias.</p>
        <nav class="breadcrumbs">
            <ol>
                <li><a href="/Anasayfa/">Ana Sayfa</a></li>
                <li class="current">Listeler</li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->
<!-- Portfolio Section -->
<section id="portfolio" class="portfolio section">

    <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

            <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">App</li>
                <li data-filter=".filter-product">Product</li>
                <li data-filter=".filter-branding">Branding</li>
                <li data-filter=".filter-books">Books</li>
            </ul><!-- End Portfolio Filters -->

            <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                        <div class="portfolio-content h-100">
                            <img src="@item.ResimURL" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>@item.ListeAd</h4>
                                <p>@item.Aciklama</p>
                                <a href="@item.ResimURL" title="App 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                <a href="/Tarif/@SeoHelper.ToSeoUrl(item.ListeAd).ToLower()/@item.ListeID" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                            </div>
                        </div>
                    </div><!-- End Portfolio Item -->
                }

            </div><!-- End Portfolio Container -->

        </div>

    </div>

</section><!-- /Portfolio Section -->
<section id="list-pagination" class="list-pagination section">
    @Html.PagedListPager(Model, Sayfa => Url.Action("Liste", new { Sayfa }), PagedListRenderOptions.Classic)

</section><!-- /Blog Pagination Section -->