@model WebApplicationPLS.Models.Model.Tarif
@{
    ViewBag.Title = "TarifDetay";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<!-- Page Title -->
<div class="page-title dark-background">
    <div class="container position-relative">
        <h1>@Model.Baslik</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a href="/Tarif/">Tarif</a></li>
                <li class="current">@Model.Baslik</li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->

<div class="container">
    <div class="row">

        <div class="col-lg-8">

            <!-- Blog Details Section -->
            <section id="blog-details" class="blog-details section">
                <div class="container">

                    <article class="article">

                        <div class="post-img">
                            <img src="@Model.ResimURL" alt="@Model.Baslik" class="object-fit-cover">
                        </div>

                        <h2 class="title">@Model.Baslik</h2>

                        <div class="meta-top">
                            <ul>
                                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">John Doe</a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="@Model.YuklenmeTarihi.ToString("yyyy-MM-dd")">@Model.YuklenmeTarihi.ToString("dd MMM, yyyy")</time></a></li>
                                <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">@ViewBag.TarifYorumSayisi Yorum</a></li>
                            </ul>
                        </div><!-- End meta top -->

                        <div class="content">
                            <p>
                                @Html.Raw(Model.Icerik)
                            </p>

                        </div><!-- End post content -->

                        <div class="meta-bottom">
                            <i class="bi bi-folder"></i>
                            <ul class="cats">
                                <li><a href="#">@Model.Liste.ListeAd</a></li>
                            </ul>
                        </div><!-- End meta bottom -->

                    </article>

                </div>
            </section><!-- /Blog Details Section -->
            <!-- Blog Comments Section -->
            <section id="blog-comments" class="blog-comments section">

                <div class="container">

                    <h4 class="comments-count">Yorumlar</h4>
                    @foreach (var item in Model.TarifYorums.OrderByDescending(x => x.TarifYorumID).Where(x => x.Onay == true))
                    {
                        <div id="comment-1" class="comment">
                            <div class="d-flex">
                                <div class="comment-img"><img src="~/Content/imgs/logom2.png" alt=""></div>
                                <div>
                                    <h5><a href="">@item.AdSoyad</a></h5>
                                    <time datetime="@Model.YuklenmeTarihi.ToString("yyyy-MM-dd")">@Model.YuklenmeTarihi.ToString("dd MMM, yyyy")</time>
                                    <p>
                                        @item.Icerik
                                    </p>
                                </div>
                            </div>
                        </div><!-- End comment #1 -->
                    }

            </section><!-- /Blog Comments Section -->
            <!-- Comment Form Section -->
            <section id="comment-form" class="comment-form section">
                <div class="container">

                    <form>

                        <h4>Yorum Yap</h4>
                        <p>Your email address will not be published. Required fields are marked * </p>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input id="adsoyad" type="text" required class="form-control" placeholder="Adınız*">
                            </div>
                            <div class="col-md-6 form-group">
                                <input id="eposta" type="email" required class="form-control" placeholder="Eposta Adresiniz*">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col form-group">
                                <textarea typeof="text" class="form-control" id="icerik" placeholder="Yorumunuz*"></textarea>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary" id="gonder">Yorumu Paylaş</button>
                        </div>

                    </form>

                </div>
            </section><!-- /Comment Form Section -->

        </div>

        <div class="col-lg-4 sidebar">

            <div class="widgets-container">

                <!-- Blog Author Widget -->
                <div class="blog-author-widget widget-item">

                    <div class="d-flex flex-column align-items-center">
                        <img src="/Content/SiteLayout/assets/img/blog/blog-author.jpg" class="rounded-circle flex-shrink-0" alt="">
                        <h4>Jane Smith</h4>
                        <div class="social-links">
                            <a href="https://x.com/#"><i class="bi bi-twitter-x"></i></a>
                            <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                            <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                            <a href="https://instagram.com/#"><i class="biu bi-linkedin"></i></a>
                        </div>

                        <p>
                            Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas repellat voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.
                        </p>

                    </div>
                </div><!--/Blog Author Widget -->
                <!-- Recent Posts Widget -->
                <div class="recent-posts-widget widget-item">

                    <h3 class="widget-title">Recent Posts</h3>

                    <div class="post-item">
                        <img src="/Content/SiteLayout/assets/img/blog/blog-recent-1.jpg" alt="" class="flex-shrink-0">
                        <div>
                            <h4><a href="blog-details.html">Nihil blanditiis at in nihil autem</a></h4>
                            <time datetime="2020-01-01">Jan 1, 2020</time>
                        </div>
                    </div><!-- End recent post item-->

                    <div class="post-item">
                        <img src="/Content/SiteLayout/assets/img/blog/blog-recent-2.jpg" alt="" class="flex-shrink-0">
                        <div>
                            <h4><a href="blog-details.html">Quidem autem et impedit</a></h4>
                            <time datetime="2020-01-01">Jan 1, 2020</time>
                        </div>
                    </div><!-- End recent post item-->

                    <div class="post-item">
                        <img src="/Content/SiteLayout/assets/img/blog/blog-recent-3.jpg" alt="" class="flex-shrink-0">
                        <div>
                            <h4><a href="blog-details.html">Id quia et et ut maxime similique occaecati ut</a></h4>
                            <time datetime="2020-01-01">Jan 1, 2020</time>
                        </div>
                    </div><!-- End recent post item-->

                    <div class="post-item">
                        <img src="/Content/SiteLayout/assets/img/blog/blog-recent-4.jpg" alt="" class="flex-shrink-0">
                        <div>
                            <h4><a href="blog-details.html">Laborum corporis quo dara net para</a></h4>
                            <time datetime="2020-01-01">Jan 1, 2020</time>
                        </div>
                    </div><!-- End recent post item-->

                    <div class="post-item">
                        <img src="/Content/SiteLayout/assets/img/blog/blog-recent-5.jpg" alt="" class="flex-shrink-0">
                        <div>
                            <h4><a href="blog-details.html">Et dolores corrupti quae illo quod dolor</a></h4>
                            <time datetime="2020-01-01">Jan 1, 2020</time>
                        </div>
                    </div><!-- End recent post item-->

                </div><!--/Recent Posts Widget -->
            </div>

        </div>

    </div>
</div>
<script src="~/Scripts/jquery-3.7.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#gonder").click(function () {
            var adiSoyadi = $("#adsoyad").val();
            var epostasi = $("#eposta").val();
            var yorumunuz = $("#icerik").val();
            $.ajax({
                url: '/Home/TarifYorumYap/',
                data: { adsoyad: adiSoyadi, eposta: epostasi, icerik: yorumunuz, tarifid: @Model.TarifID },
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    if (data.success) {
                        alert(data.message);
                    }
                    else {
                        alert("Hata: " + data.message);
                    }
                }
            });
        });
    })

</script>