@model IEnumerable<WebApplicationPLS.Models.Model.Kategori>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kategoriler</h2>

<p>
    @Html.ActionLink("Yeni oluştur", "Create")
</p>
<table class="table datatable">
    <thead>
        <tr class="table table-primary">
            <th>
                @Html.DisplayNameFor(model => model.KategoriAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aciklama)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KategoriAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aciklama)
        </td>
        <td>
            <a href="/Kategori/Edit/@item.KategoriID" class="btn btn-primary">Güncelle</a>
            <a href="/Kategori/Delete/@item.KategoriID" class="btn btn-danger">Sil</a>
            <a href="/Kategori/Details/@item.KategoriID" class="btn btn-warning">Detaylar</a>
        </td>
    </tr>
}
        </tbody>

</table>
