@model WebApplicationPLS.Models.Model.Tarif

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tarif</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Icerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Icerik)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TiklanmaSayisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiklanmaSayisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResimURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResimURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListeID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TarifID }) |
    @Html.ActionLink("Back to List", "/Index/")
</p>
