@using WebApplicationPLS.Helper;
@model IEnumerable<WebApplicationPLS.Models.Model.Tarif>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Tarif Kayıtları</h2>


<table class="table datatable">
    <thead>
        <tr class="table table-primary">
            <th>#</th>
            <th>Başlık</th>
            <th>Liste</th>
            <th>ResimURL</th>
            <th>İşlemler</th>
            <th>Yüklenme Tarihi</th>
            <th>Tıklanma Sayısı</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TarifID</td>
                <td>@item.Baslik</td>
                <td>@item.Liste.ListeAd</td>
                <td><img src="@item.ResimURL" width="50" height="50" /></td>
                <td><a href="/yonetimpaneli/tarif/duzenle/@item.TarifID" class="btn btn-primary">Güncelle</a>  <a href="/yonetimpaneli/tarif/sil/@item.TarifID" class="btn btn-danger">Sil</a></td>
                <td>@item.YuklenmeTarihi</td>
                <td>@item.TiklanmaSayisi</td>


            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" href="/Tarif/Create/">Yeni Tarif Ekle</a>


