@using WebApplicationPLS.Helper;
@model IEnumerable<WebApplicationPLS.Models.Model.Kategori>
@{
    ViewBag.Title = "Admin Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



    <div class="pagetitle">
        <h1>Admin Ana Sayfa</h1>
       

        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/yonetimpaneli/">Ana Panel</a></li>
                <li class="breadcrumb-item active">Admin Ana Sayfa</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-8">
                <div class="row">

                    <!-- Tarif Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card sales-card">
                            <div class="card-body">
                                <a href="/Tarif/Index/"><h5 class="card-title">Tarif Sayısı</h5></a>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <a href="/Tarif/Index/"><i class="bi bi-egg-fill"></i></a>
                                    </div>
                                    <div class="ps-3">
                                        <h6>@ViewBag.TarifSayisi</h6>
                                        <h5>Adet Tarif</h5>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Tarif Card -->
                    <!-- Blog Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card sales-card">
                            <div class="card-body">
                                <a href="/Blog/Index/"><h5 class="card-title">Blog Sayısı</h5></a>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <a href="/Blog/Index/"><i class="bi bi-substack"></i></a>
                                    </div>
                                    <div class="ps-3">
                                        <h6>@ViewBag.BlogSayisi</h6>
                                        <h5>Adet Blog</h5>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Blog Card -->
                    <!-- Liste Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card sales-card">
                            <div class="card-body">
                                <a href="/Liste/Index/"><h5 class="card-title">Liste Sayısı</h5></a>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <a href="/Liste/Index/"><i class="bi bi-list-ul"></i></a>
                                    </div>
                                    <div class="ps-3">
                                        <h6>@ViewBag.ListeSayisi</h6>
                                        <h5>Adet Liste</h5>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Liste Card -->
                    <!-- Top Selling -->
                    <div class="col-12">
                        <div class="card top-selling overflow-auto">
                            <div class="card-body pb-0">
                                <h5 class="card-title">En Çok Tıklanan Tarifler</h5>

                                <table class="table table-borderless">
                                    <thead>
                                        <tr>
                                            <th scope="col">Önizleme</th>
                                            <th scope="col">Tarif</th>
                                            <th scope="col">Tıklanma Sayısı</th>
                                            <th scope="col">Yüklenme Tarihi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.TiklananTariflerAdmin)
                                        {
                                            <tr>
                                                <th scope="row"><a href="/Tarif/@SeoHelper.ToSeoUrl(item.Baslik).ToLower()-@item.TarifID"><img src="@item.ResimURL" alt="@item.Baslik"></a></th>
                                                <td><a href="/Tarif/@SeoHelper.ToSeoUrl(item.Baslik).ToLower()-@item.TarifID">@item.Baslik</a></td>
                                                <td class="fw-bold">@item.TiklanmaSayisi</td>
                                                <td><time>@item.YuklenmeTarihi</time></td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div><!-- End Top Selling -->
                    <div class="col-12">
                        <div class="card top-selling overflow-auto">
                            <div class="card-body pb-0">
                                <h5 class="card-title">En Çok Tıklanan Bloglar</h5>

                                <table class="table table-borderless">
                                    <thead>
                                        <tr>
                                            <th scope="col">Önizleme</th>
                                            <th scope="col">Blog</th>
                                            <th scope="col">Tıklanma Sayısı</th>
                                            <th scope="col">Yüklenme Tarihi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.TiklananBloglarAdmin)
                                        {
                                            <tr>
                                                <th scope="row"><a href="/Blog/@SeoHelper.ToSeoUrl(item.Baslik).ToLower()-@item.BlogID"><img src="@item.ResimURL" alt="@item.Baslik"></a></th>
                                                <td><a href="/Blog/@SeoHelper.ToSeoUrl(item.Baslik).ToLower()-@item.BlogID">@item.Baslik</a></td>
                                                <td class="fw-bold">@item.TiklanmaSayisi</td>
                                                <td><time>@item.YuklenmeTarihi</time></td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div><!-- End Top Selling -->

                </div>
            </div><!-- End Left side columns -->
            <!-- Right side columns -->
            <div class="col-lg-4">
                <!-- News & Updates Traffic -->
                <div class="card">

                    <div class="card-body pb-0">
                        <h2 class="card-title">Son Yüklenen Tarifler</h2>
                        <div class="news">
                            @foreach (var item in ViewBag.EnSonTariflerAdmin)
                            {
                                <div class="post-item clearfix">
                                    <img src="@item.ResimURL" alt="">
                                    <h4><a href="/Tarif/@SeoHelper.ToSeoUrl(item.Baslik).ToLower()-@item.TarifID">@item.Baslik</a></h4>
                                    <p><time>@item.YuklenmeTarihi</time></p>
                                </div>
                            }

                        </div><!-- End sidebar recent posts-->
                        <h2 class="card-title">Son Yüklenen Bloglar</h2>

                        <div class="news">
                            @foreach (var item in ViewBag.EnSonBloglarAdmin)
                            {
                                <div class="post-item clearfix">
                                    <img src="@item.ResimURL" alt="">
                                    <h4><a href="/Blog/@SeoHelper.ToSeoUrl(item.Baslik).ToLower()-@item.BlogID">@item.Baslik</a></h4>
                                    <p><time>@item.YuklenmeTarihi</time></p>
                                </div>
                            }
                            <h2 class="card-title"></h2>


                        </div>

                    </div>
                </div><!-- End News & Updates -->

            </div><!-- End Right side columns -->

        </div>
    </section>

